# Film Analysis
This is a project for the IUM course of the computer science degree course.  
This project wants to analyze some data like the actors, the languages, the crew exc. of different films. 
## First steps
In the beginning we check the type of the data of the dataframes used for the analysis, later we will clean the data so that we can start the analysis of the data in order to find some correlation between the data or to debunking beliefs

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
actors = pd.read_csv('data/actors.csv')
countries = pd.read_csv('data/countries.csv')
crew = pd.read_csv('data/crew.csv')
genres = pd.read_csv('data/genres.csv')
languages = pd.read_csv('data/languages.csv')
movies = pd.read_csv('data/movies.csv')
posters = pd.read_csv('data/posters.csv') # inutile perch√© contiene solo i link di posters dei film 
releases = pd.read_csv('data/releases.csv')
studios = pd.read_csv('data/studios.csv')
oscars = pd.read_csv('data/the_oscar_awards.csv')
themes = pd.read_csv('data/themes.csv')

In [30]:
actors['name'] = actors['name'].astype('string')
actors['role'] = actors['role'].astype('string')
countries['country'] = countries['country'].astype('string')
crew['name'] = crew['name'].astype('string')
crew['role'] = crew['role'].astype('string')
genres['genre'] = genres['genre'].astype('string')
languages['language'] = languages['language'].astype('string')
languages['type'] = languages['type'].astype('string')
movies['name'] = movies['name'].astype('string')
movies['date'] = pd.to_datetime(movies['date'], format='%Y')
releases['country'] = releases['country'].astype('string')
releases['type'] = releases['type'].astype('string')
releases['date'] = pd.to_datetime(releases['date'], format='%Y-%m-%d')
studios['studio'] = studios['studio'].astype('string')
oscars['category'] = oscars['category'].astype('string')
oscars['name'] = oscars['name'].astype('string')
oscars['film'] = oscars['film'].astype('string')
themes['theme'] = themes['theme'].astype('string')

In [51]:
releases['rating'].unique()

array([nan, 'ATP', 'PG', '12', 'U', '7', 'K-7', 'TP', '6', 'IIA', 'UA',
       '12A', 'T', 'G', 'N-13', 'B', '9', 'M/12', 'PG-13', '15', 'PG13',
       '13', 'A', '16', 'K-16', 'IIB', 'VM14', 'PG12', 'N-16', 'B-15',
       'M/14', 'M18', '14', 'R', 'C18', 'K15', '18', '11', '18A', 'K-18',
       '18PL', 'C', 'R-18', 'M/18', 'M', 'L', 'S', '0', 'AL', '14A',
       'K-12', 'K12', '15A', 'R-16', '10', 'AG', 'D', 'A-18', 'R16',
       'NC16', 'P', '18TC', 'III', 'VM18', 'M/16', 'R21', 'N-7', 'M/6',
       'AP', '8', 'R13', 'P13', 'R-13', 'C16', 'R18', '20', 'NR', 'K-13',
       'X', 'K18', 'N-18', '19', 'K', 'SU', '10A', 'APTA', 'R-15', 'APT',
       'KT/EA', 'K-15', 'I', 'ALL', 'C13', '18PA', 'RP13', 'Y7', 'NC-16',
       'KN', 'PG-15', 'K-11', 'K-8', 'PG-12', '18SG', 'EA', 'V', 'R-12',
       'K-17', 'B15', 'AA', '12PG', 'K-10', 'AP-12', 'TE', 'R12', '7-9PG',
       '13A', 'M/3', '21', '28', '2', '27', 'N-15', 'KT', 'SR', 'K-6-4',
       'NC-15', 'M/4', 'K-14', 'NC-17', 'MS12', 'GP', 'ZA', '15PG', 'R15',
       'E', 'RP16', 'M/16Q', '17', 'II', 'RC', 'K-3', '6A', 'PERE', 'MP',
       '7A', 'N16', 'K7', 'TV-MA', 'S-3', 'M16', 'UR', 'M12', 'PT',
       'IM-18', 'M13', 'UFD', 'IB', 'OM', 'F', 'M6', 'IT', 'TV-14',
       'TV-PG', '16E', 'KNT', 'ENA', '16LS', '18X', '12E', 'BIFFF', 'ITA',
       'CAT3', 'AM18', 'BTL', 'PM13', 'MX-A', '15-A', 'USA', 'M21', 'M4',
       'FSK12', 'LH', 'PG0', 'PG-14', 'MA', 'M-18', 'JP', 'IMDB', 'U/A',
       'TV-Y7', 'NYFF', 'FSK16', 'PG15', 'TV-G', 'PM16', '13-A', 'B-12',
       'USA-R', 'MPAA', 'P15', 'AP16', 'MA15+', 'R18+', 'R15+', 'SAM18',
       'TODOS', 'M14', 'TT', '18SX', 'HD', 'SAM13', 'TR', 'TW', 'DVD',
       'PGL', 'NR-12', 'VN', 'MG6', 'YES', 'FAJR', 'UN', 'K+', 'KK', 'PC',
       'EM', 'VM-14', 'TV-13', 'IM16', 'PG-17', 'PD-14', '5', 'NC18',
       'PG-16', 'PM18', 'QA', '13V', 'P-13', 'AKA', 'PG10', 'APTO', 'N/C',
       'PM14', 'TVMA', '13PL', 'FIC', 'MA-13', '4', 'PG16', '16LV', 'NN',
       'N', 'II-B', '16SL', '05', 'PG18', 'K11', '13L', 'FSK-0', 'R-15+',
       'MA+', 'FSK6', 'SAM15', 'IM14', 'R13+', '352', '16LPV', 'KG', '1',
       'TV', '16L', 'IM18', 'SAM16', 'NC15', 'FSK', '13VL', '3', 'TV14',
       'FSK0', 'OK', 'BE/12', 'INCAA', 'GA', '123', 'BR', 'FPBA'],
      dtype=object)

In [39]:
movies[movies['id'].duplicated()] #non contiene duplicati
movies.set_index('id', inplace=True)

In [5]:
crew[crew.isna().any(axis=1)]

              id    role  name
4562126  1859397  Writer  <NA>

In [28]:
themes.head(50)

         id                                              theme
0   1000001                   Humanity and the world around us
1   1000001                             Crude humor and satire
2   1000001                        Moving relationship stories
3   1000001     Emotional and captivating fantasy storytelling
4   1000001  Surreal and thought-provoking visions of life ...
5   1000001                 Quirky and endearing relationships
6   1000001                     Amusing jokes and witty satire
7   1000001          Laugh-out-loud relationship entanglements
8   1000002                   Humanity and the world around us
9   1000002          Intense violence and sexual transgression
10  1000002                Twisted dark psychological thriller
11  1000002              Heartbreaking and moving family drama
12  1000002       Enduring stories of family and marital drama
13  1000002            Touching and sentimental family stories
14  1000002          Intense political and terrorist thrillers
15  1000003                   Humanity and the world around us
16  1000003                        Moving relationship stories
17  1000003                             Crude humor and satire
18  1000003  Surreal and thought-provoking visions of life ...
19  1000003            Touching and sentimental family stories
20  1000003       Powerful stories of heartbreak and suffering
21  1000003                 Quirky and endearing relationships
22  1000003        Dreamlike, quirky, and surreal storytelling
23  1000004          Intense violence and sexual transgression
24  1000004                   Humanity and the world around us
25  1000004              Challenging or sexual themes & twists
26  1000004        Dreamlike, quirky, and surreal storytelling
27  1000004                Twisted dark psychological thriller
28  1000004  Surreal and thought-provoking visions of life ...
29  1000004                Graphic violence and brutal revenge
30  1000005                                     Song and dance
31  1000005                   Humanity and the world around us
32  1000005                        Moving relationship stories
33  1000005           Dazzling vocal performances and musicals
34  1000005     Captivating relationships and charming romance
35  1000005                     Dance rhythms and catchy tunes
36  1000005                 Emotional life of renowned artists
37  1000005         Charming romances and delightful chemistry
38  1000006                   Humanity and the world around us
39  1000006                          Politics and human rights
40  1000006                        Epic history and literature
41  1000006          Intense political and terrorist thrillers
42  1000006          Riveting political and presidential drama
43  1000006  Surreal and thought-provoking visions of life ...
44  1000006            Dangerous technology and the apocalypse
45  1000006               Political drama, patriotism, and war
46  1000007        Monsters, aliens, sci-fi and the apocalypse
47  1000007                   Humanity and the world around us
48  1000007                        Moving relationship stories
49  1000007    Imaginative space odysseys and alien encounters

In [31]:
themes.dtypes

id                int64
theme    string[python]
dtype: object