In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
actors = pd.read_csv('data/actors.csv')
countries = pd.read_csv('data/countries.csv')
crew = pd.read_csv('data/crew.csv')
genres = pd.read_csv('data/genres.csv')
languages = pd.read_csv('data/languages.csv')
movies = pd.read_csv('data/movies.csv')
posters = pd.read_csv('data/posters.csv')
releases = pd.read_csv('data/releases.csv')
studios = pd.read_csv('data/studios.csv')
oscars = pd.read_csv('data/the_oscar_awards.csv')
themes = pd.read_csv('data/themes.csv')

In [91]:
actors['name'] = actors['name'].astype('string')
actors['role'] = actors['role'].astype('string')
countries['country'] = countries['country'].astype('string')
crew['name'] = crew['name'].astype('string')
crew['role'] = crew['role'].astype('string')
genres['genre'] = genres['genre'].astype('string')
languages['language'] = languages['language'].astype('string')
languages['type'] = languages['type'].astype('string')
movies['name'] = movies['name'].astype('string')
movies['date'] = pd.to_datetime(movies['date'], format='%Y')

In [64]:
crew[crew.isna().any(axis=1)]

              id    role  name
4562126  1859397  Writer  <NA>

In [94]:
movies.dtypes

id                      int64
name           string[python]
date           datetime64[ns]
tagline                object
description            object
minute                float64
rating                float64
dtype: object

TypeError: DataFrame.isna() takes 1 positional argument but 2 were given